<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.mrajapa.cordova.videoplayer"
    version="1.0.1">

    <name>Video Player</name>
    <description>Native Video Player Plugin</description>
    <license>MIT</license>
    <keywords>cordova,media,player,video</keywords>
    <repo>https://github.com/mrajapa/cordova-plugin-videoplayer.git</repo>
    <issue>https://github.com/mrajapa/cordova-plugin-videoplayer/issues</issue>

    <js-module src="www/videoplayer.js" name="VideoPlayer">
        <clobbers target="VideoPlayer" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.mrajapa.cordova.videoplayer.VideoPlayer"/>
            </feature>
        </config-file>

        <!--source-file src="src/android/res/layout/videoplayer_activity_main.xml" target-dir="res/layout/"/-->
        <source-file src="src/android/VideoPlayer.java" target-dir="src/com/mrajapa/cordova/videoplayer" />
        
        <preference name="BITMOVIN_VERSION" default="2.27.0"/>
        <framework src="com.bitmovin.player:playercore:$BITMOVIN_VERSION"/>
        <framework src="com.android.support:appcompat-v7:27.1.1"/>

    </platform>

</plugin>
